<div class="container">
	<p>&nbsp</p>
	<p>&nbsp</P>
	<div class="card z-depth-3">
		<div class="container">
			<h3 class="center"> Let's Get Acquainted</h3>
			<p>&nbsp</p>

<%= render 'form1' %>
<p>&nbsp</p>
</div>
</div>
<div id="aaa">
	<a href="https://www.facebook.com/aayush.me.iitr"><%= image_tag("aaa.png") %></a>
</div>
</div>