<p id="notice"><%= notice %></p>
<h4 class="center white-text">WELCOME IIT ROORKEE FRESHERS '15</h4>

<h6 class="center white-text">A portal to connect freshers with seniors and peers with similar interests and skills</br></br></br>
<a class="waves-effect indigo-text text-darken-1 btn-large blue lighten-4" href="/freshers"><i class="material-icons right ">send</i>Get started here</a>
</h6>
<div id="aaa">
	<a href="https://www.facebook.com/aayush.me.iitr"><%= image_tag("aaab.png") %></a>
</div>
<div id="building"></div>

