<p id="notice" class="center white card"><%= notice %></p>
<p>&nbsp</p>
<h3 class="center white-text">Thank you for your response</h3>
<h6 class="white-text center">We will share with you a list of students with same interests as yours shortly!!</br> Meanwhile, you can get to know more about IIT Roorkee and buy cool IIT Roorkee T-Shirts..</h6> </br>

<p class="center"><a class="waves-effect black-text text-darken-1 btn-large blue lighten-4" href="https://utkarshruhela.wordpress.com/2015/06/19/iit-roorkee-wheres-that/"><i class="material-icons right ">aspect_ratio</i>Utkarsh's Photoblog</a>&nbsp &nbsp
<a class="waves-effect black-text text-darken-1 btn-large light-green accent-2 lighten-4" href="/freshers"><i class="material-icons right ">send</i>Get your IIT Roorkee T-Shirt</a>&nbsp &nbsp
<a class="waves-effect black-text text-darken-1 btn-large yellow accent-2 lighten-4" href="http://guide.wona.co.in/"><i class="material-icons right ">call_made</i>WONA's Freshman's Guide</a>
</p>
<p class="mail white-text center">You can send us queries and bugs at aayush962@gmail.com</p>